@font-face {
  font-family: "Museo Sans Cyrl 500";
  src: url("/src/fonts/MuseoSansCyrl500.ttf") format("truetype");
}

body {
  font-family: "Museo Sans Cyrl 500", sans-serif;
  background-color: #ffffff;
  margin: 0;
}

header {
  height: 70px;
  z-index: 1;
}

footer {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.50);
  z-index: 1;
}

h1, h2, h3, p, a {
  font-family: "Museo Sans Cyrl 500", sans-serif;
  color: #3C3E3D;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 24px;
}

p {
  font-size: 20px;
}

ul {
  font-size: 20px;
}

li {
  padding: 10px 0;
}

.header {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .navigation {
  display: flex;
  gap: 40px;
}

.background-header {
  top: 0;
  display: block;
  position: fixed;
  width: 100%;
  background: none;
  z-index: 100;
}

.background-header a {
  text-decoration: none;
  color: #3C3E3D;
}

.background-header a:hover {
  text-decoration: underline;
}

.background-header-scroll {
  top: 0;
  display: none;
  position: fixed;
  width: 100%;
  background: rgba(0, 0, 0, 0.50);
  z-index: 100;
}

.background-header-scroll a {
  text-decoration: none;
  color: #ffffff;
}

.background-header-scroll a:hover {
  text-decoration: underline;
}

.logo {
  background-image: url(img/logo.png);
  background-repeat: no-repeat;
  width: 50px;
  height: 60px;
  background-size: contain;
  cursor: pointer;
  margin-right: 170px;
  margin-top: 5px;
}

.max-width {
  max-width: 1200px;
  margin: 0 auto;
}

.about-the-system {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 150px 0 100px 0;
  gap: 20px;
}

.about-the-system img {
  width: 70%;
}

.background-gray {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.07);
}

.grid-block {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-column-gap: 30px;
  padding: 50px 10px;
  align-items: center;
}

.grid-block img {
  width: 90%;
  border-radius: 10px;
}

.grid-block h3 {
  line-height: 35px;
  width: 80%;
}

.flex-column-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px 10px;
}

.padding {
  padding-bottom: 50px;
}

.border {
  border-top: 1px solid #adadad;
}

#demo .flex-column-block {
  margin: 30px 10px;
}

.grid-stack {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.text-center {
  text-align: center;
}

.client {
  text-align: center;
}

.client img {
  width: 100%;
}

.client h2 {
  width: 80%;
  margin-bottom: 50px;
}

.admin-image {
  max-width: 700px;
  display: flex;
  gap: 70px;
  flex-wrap: wrap;
  justify-content: center;
}

.admin-image .admin-image-item {
  max-width: 300px;
}

.admin-image .admin-image-item:nth-child(odd) {
  margin-top: 70px;
}

.admin-image-item img {
  width: 300px;
}

.demo {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 50px;
  padding: 0 10px 50px 10px;
  align-items: center;
}

.demo a {
  background-color: #afafafba;
  border-bottom: 2px solid #afafafba;
  text-decoration: none;
  border-radius: 30px;
  padding: 10px 20px;
  height: 50px;
  font-size: 20px;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  z-index: 999;
}

.demo a:hover {
  border-bottom: 2px solid rgba(0, 0, 0, 0.73);
  background-color: rgba(204, 204, 204, 0.73);
}

.demo p {
  color: #000000;
}

.icon-user {
  width: 150px;
  padding-bottom: 20px;
}

.mobile {
  display: none;
}

.stack-img {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 20px;
}

.stack-img img {
  height: 100px;
}

.footer {
  display: flex;
  justify-content: center;
  width: 100%;
  font-size: 12px;
}

.footer p {
  color: #fff;
  font-size: 12px;
}

@media (max-width: 1000px) {
  h2 {
    font-size: 24px;
  }

  h3 {
    font-size: 20px;
  }

  p {
    font-size: 18px;
  }

  ul {
    font-size: 18px;
  }

  .display-none {
    display: none;
  }

  .padding {
    padding-bottom: 0;
  }

  .header .navigation {
    padding-right: 10px;
  }

  .header {
    width: 100%;
  }

  .logo {
    margin-left: 10px;
    margin-top: 10px;
  }

  .grid-block {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 18px 20px;
  }

  .grid-block h3 {
    width: 100%;
  }

  .reverse {
    flex-direction: column-reverse;
  }

  .grid-stack {
    grid-template-columns: repeat(1, 1fr);
  }

  .client h2 {
    width: 100%;
  }

  .demo {
    grid-template-columns: repeat(1, 1fr);
    grid-column-gap: 0;
    padding: 0;
  }

  .demo .flex-column-block {
    margin: 30px 10px
  }

  .icon-user {
    width: 100px;
  }

  .logo {
    margin-right: 0;
  }

  .mobile .stack-img .angular {
    height: 130px;
  }

  .mobile {
    display: flex;
    justify-content: center;
  }

  .desktop {
    display: none;
  }

  .stack-img {
    grid-template-columns: repeat(7, 1fr);
    align-items: center;
  }

  .stack-img img {
    max-width: 100%;
    height: auto;
  }

  .footer {
    flex-direction: column;
    text-align: center;
  }
}

@media (max-width: 600px) {
  .admin-image {
    gap: 20px;
  }

  .admin-image .admin-image-item:nth-child(odd) {
    margin: 0;
  }

  .admin-image-item img {
    width: 150px;
  }
}

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

